{#
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
#}
{% extends 'appbuilder/init.html' %}
{% import 'appbuilder/baselib.html' as baselib %}

{% block body %}
    {% include 'appbuilder/general/confirm.html' %}
    {% include 'appbuilder/general/alert.html' %}

    {% block navbar %}
      {% include 'appbuilder/navbar.html' %}
    {% endblock %}

    {% block uncontained %}{% endblock %}
    <div id="append">
    <div class="container" id="forlogindiv">
      <div class="row h-full">
          {% block messages %}
            {% include 'superset/flash_wrapper.html' %}
          {% endblock %}
          {% block content %}
          {% endblock %}
      </div>
    </div>
    </div>
    <div class="container-fluid">
        {% block content_fluid %}
        {% endblock %}
    </div>
    <div id="app" data-bootstrap="{{ bootstrap_data() }}"></div>

    {% block footer %}
        <footer id="footer-container">
          <div class="img-rounded nav-fixed-bottom">
              <div class="container-fluid">
                  {% include 'appbuilder/footer.html' %}
              </div>
          </div>
        </footer>
        <script>
          console.log(window.location.pathname);
          var path = window.location.pathname;
          var element = document.getElementById("forlogindiv");
          var appenddiv = document.getElementById("append");
          var footer = document.getElementById("footer-container");
          if (path == "/login/") {
            element.classList.remove("container");
            element.style.maxWidth = "100%";
            element.style.overflowX = "hidden";
            footer.style.display ="none";
            element.style.maxHeight = "94vh";
            element.style.height = "93vh";
          } else {
            appenddiv.style.display = "flex";
            var innerDiv = document.createElement("div");
            innerDiv.className = "leftdiv";
            element.parentNode.insertBefore(innerDiv, element);
          }
        </script>
    {% endblock %}
{% endblock %}
